<footer class="z-1 bg-gray-900 opacity-90 pt-20 lg:pt-[10px] sticky top-[100vh]" data-wow-delay=".15s ">
    <div class="border-t py-5 lg:mt-[10px] ">
        <div class="container">
            <div class="flex w-full px-4 ml-5 -mx-4">
            <div>
        </div>
    </div>
    <div class="opacity-30">
        <span class="absolute bottom-0 left-0 z-0">
            <img src="{{ url_for('static',path='images/shape-1.svg') }}"  height=150 width=200 alt="" />
        </span>

        <span class="absolute bottom-0 right-0 z-0">
            <img src="{{ url_for('static',path='images/shape-3.svg') }}" height=130 width=300 alt="" />
        </span>
    </div>
</footer>