<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="{{ url_for('static',path='images/favicon.ico') }}" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com/3.2.4"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>    

    {% block title %} 
    {% endblock %}
  </head>

  <body>
    {% include 'components/topnav.html' %} 

    {% with error_msg=error_msg %} 
      {% include "components/alerts.html" %} 
    {% endwith %} 

    {% block content %} 
    {% endblock %}

    {% with page = page %}
      {% include 'components/page_number.html' %}  
    {% endwith %}

    {% include 'components/footer.html' %} 

    {% block scripts %} 
    {% endblock %}

  </body>
</html>
