{% extends "base.html" %} {% block title %}
<title>GenoMycAnalyzer</title>
{% endblock %} {% block content %}

<section class="py-5 px-7 bg-[#3056D3]">
  <br />
  <h1 class="mb-8 text-3xl font-bold leading-snug text-white text-center sm:text-4xl sm:leading-snug md:text-[25px] md:leading-snug">Terms of Service and Privacy Policy</h1>
  <textarea id="message" rows="22" class="block p-2.5 w-full text-sm text-white bg-[#1E4E8C] rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

Terms of Use

General terms 

1) Upon using GenoMycAnalyzer, the user has to have agreed to the Terms of Use specified below. If a service individually specifies the terms, such individual terms will overrule the Terms of Use.
2) We reserve the right to update the Terms of Use at any time. When making updates, the user will be notified about the updates. The changed Terms of Use will apply to all users regardless of the date on which the user began using our services.
3) If any dispute arises between a user and any other user or between a user and a third party in relation to our services, we shall assume no responsibility.
4) If you do not accept any part the of Agreement, or do not understand the full terms, do not use the service. 
    

Disclaimer

1) You shall use data and services provided by us at your own responsibility.
2) We make no warranty in regard to accuracy, availability, or completeness of data and services that we provide.


Collection of personal information

We may collect the following personal information:

- User information: The E-mail address of the user.
- Access information to website: Upon access, general access information is collected such as following:
    IP address, domain name, and location
    date and time
    pages and files that were accessed
    cookie information
    types and versions of the web browser and operating system

    
Usage of personal information

We will use collected personal information for purposes such as follows:

1) User information
    to create and manage an account
    to notify any important matters

2) Access information to website
    to obtain anonymous usage statistics of our websites
    to monitoring of our websites and to improve them


Cookies

We use cookies to improve usability of our websites. You can disable the cookies through your browser settings. However, disabling cookies may impact the functionality of our websites.

Preservation period of personal Information and user-uploaded data
We will preserve personal information as long as necessary to provide our services only.
All user-uploaded sample data and its metadata will be deleted from the server after 90 days and will be lost.
The program uses the collected information for no other purposes than for the login and the (temporary) storage of analysis results.
The program will not share personal information with a 3rd party.


Data protection

1) The operators of this website take the protection of your personal data very seriously. We treat your personal data as confidential and in accordance with the statutory data protection regulations and this privacy policy.
2) If you use this website, various pieces of personal data will be collected. Personal information is any data with which you could be personally identified. This privacy policy explains what information we collect and what we use it for. It also explains how and for what purpose this happens.
3) This site uses SSL or TLS encryption for security reasons and for the protection of the transmission of confidential content, such as the inquiries you send to us as the site operator. You can recognize an encrypted connection in your browser's address line when it changes from "http://" to "https://" and the lock icon is displayed in your browser's address bar. If SSL or TLS encryption is activated, the data you transfer to us cannot be read by third parties.
      </textarea>
  <br /><br />
</section>

{% endblock %} {% block scripts %} {% endblock %}
