{% extends "base.html" %} {% block title %}
<title>GenoMycAnalyzer</title>
{% endblock %} {% block content %}

<section class="py-5 px-7 bg-[#3056D3]">
  <br />
  <h1 class="mb-8 text-3xl font-bold leading-snug text-white text-center sm:text-4xl sm:leading-snug md:text-[25px] md:leading-snug">Resend password</h1>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
    <!-- component -->
    <div class="bg-[#3056D3] flex flex-col">
      <div class="bg-[#1E4E8C] px-8 py-8 rounded shadow-md w-96">
        <form action="/user/resendpassword" method="post" name="UserResendpassword" id="form_resendpassword">
          <label for="Email" class="block mb-2 text-sm font-medium text-white dark:text-white">Your email address</label>
          <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" id="Email" name="Email" placeholder="Email(name@company.com)" />
          {% if ErrorMsg %}
          <div class="text-left text-sm text-[#FF7F27] mt-1 mb-2">{{ErrorMsg}}</a></div>
          {% endif %}
          
          <div align="right">
            <button id="bt_sendReemail" type="button" class="bg-blue-500 flex justify-center items-right w-1/2 text-white px-4 py-3 rounded-md focus:outline-none">Send</button>
          </div>
        </form>
      </div>

      <div class="bg-[#3056D3] text-white mt-6">
        Already have an account?
        <a class="no-underline border-b border-blue text-blue" href="login"> Log in </a>.
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</section>

{% endblock %} {% block scripts %}

<script type="text/javascript">
  function verifyEmail(email) {
    //var emailVal = $("#email").val();
    var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;

    if (!reg_email.test(email)) {
      return false;
    } else {
      return true;
    }
  }

  $("#bt_sendReemail").click(function () {
    var obEmail = document.getElementById("Email");
    
    if (!obEmail.value) {
      alert("Please enter your email.");
      obEmail.focus();
      return;
    } else {
      if (!verifyEmail(obEmail.value)) {
        alert("Invalid email address");
        obEmail.focus();
        return;
      }
    }
    $("#form_resendpassword").submit();
    obEmail.value = "";
  });
</script>

{% endblock %}




