{% extends "base.html" %} {% block title %}
<title>GenoMycAnalyzer</title>
{% endblock %} {% block content %}

<section class="py-5 px-7 bg-[#3056D3]">
  <br />
  <h1 class="mb-8 text-3xl font-bold leading-snug text-white text-center sm:text-4xl sm:leading-snug md:text-[25px] md:leading-snug">Enter a password for Modify</h1>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
    <!-- component -->
      <div class="bg-[#1E4E8C] px-8 py-8 rounded shadow-md w-96">
        <form action="/user/repassword" method="post" name="UserRepassword" id="form_repassword">
          
          {% if Repwkey %}
          <input type="hidden" id="Repwkey" name="Repwkey" value={{Repwkey}} />
          {% else %}
          <input type="hidden" id="Repwkey" name="Repwkey" value="#"/>
          {% endif %}
                    
          <label for="EmailPW" class="block mb-2 text-sm font-medium text-white dark:text-white">New password</label>
          <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" id="EmailPW" name="EmailPW" placeholder="Password" />
          <label for="confirm_EmailPW" class="block mb-2 text-sm font-medium text-white dark:text-white">Confirm password</label>
          <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" id="confirm_EmailPW" name="confirm_EmailPW" placeholder="Confirm Password" />

          {% if ErrorMsg %}
          <div class="text-left text-sm text-[#FF7F27] mt-1 mb-2">{{ErrorMsg}}</a></div>
          {% endif %}
          
          <div align="right">
            <button id="bt_passwordModify" type="button" class="bg-blue-500 flex justify-center items-center w-1/2 text-white px-4 py-3 rounded-md focus:outline-none">Modify</button>
          </div>

          <div class="text-white mt-2 text-sm">
            Password checklist:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8 to 30 characters<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;At least 1 upper-case character<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;At least 1 lower-case character<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;At least 1 digit or special chrater<br>
          </div>

        </form>
      </div>
      <br /><br /><br /><br />
    </div>
  </div>
</section>

{% endblock %} {% block scripts %}

<script type="text/javascript">
  function chkPW(pw) {
    var reg = /^[A-Za-z0-9`~!@#\$%\^&\*\(\)\{\}\[\]\-_=\+\\|;:'"<>,\./\?]{8,30}$/;
    if (!reg.test(pw)) {
      return false;
    } else {
      return true;
    }
  }

  $("#bt_passwordModify").click(function () {
    var spw = document.getElementById("EmailPW");
    var spw_confirm = document.getElementById("confirm_EmailPW");
    
    
    if (!spw.value) {
      alert("Please enter your password.");
      spw.focus();
      return;
    } else {
      if (!chkPW(spw.value)) {
        alert("Invalid your password.");
        spw.focus();
        return;
      }else if(spw.value != spw_confirm.value){
        alert("Invalid your confirm password.");
        spw_confirm.focus();
        return;
      }else{
        $("#form_repassword").submit();
        spw.value = "";
        spw_confirm.value = "";
      }
    }
  });


  

</script>
{% endblock %}
